$primary-background : #181818;

$neon-blue: #6FDEDE;
$neon-pink : #FF10F0;

$glowing-color: $neon-blue;
$glowing-color-glow : lighten($glowing-color, 10%);

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}
$font-stack: OpenSans;

html, body {
  margin: 0;
  font: 100% $font-stack;
}

body{
  background-color: $primary-background;
}

.main-page-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top : 0;
}

.main-border-container {
  width: 97.5vw;
  height: 95vh;
  box-shadow: 
              0 0 3vw $glowing-color-glow,
              inset 0 0 1vw $glowing-color-glow,
              0 0 0 0.5vw $glowing-color;
  border-radius: 30px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  

}

h1.helloText{
  font-weight: 2000;
  color: $neon-blue;
  font-size: 7vh;
  text-shadow: 0vh 0.2vh 0.5vh $glowing-color;
}